HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Compiled files, ##
*.class  
*.metadata 
*../.metadata
*.properties 
*.yml
*.metadata/.log
*.metadata/.log
*.snap
*./metadata

# Ignore Eclipse metadata files
.metadata/

# Ignore Git-related files
.gitignore

# Ignore project-specific settings
unitANDintegration_testing/.gitignore


# Ignore Eclipse metadata files
*.metadata/
# Ignore Eclipse metadata directory
.metadata/
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap/
.metadata/.log

# Ignore Git-related files
*.gitignore

# Ignore project-specific settings
unitANDintegration_testing/.gitignore